.et_monarch .et_social_sidebar_networks { background-color: #fff; border: 1px solid #ebebeb; border-radius: 0 5px 5px 0; box-sizing: border-box; padding: 15px 0 10px; width: 75px; }
.et_monarch .et_social_hidden_sidebar { background-color: transparent; border: 0; }
.et_monarch .et_social_sidebar_networks.et_social_hidden_sidebar .et_social_icons_container, .et_monarch .et_social_sidebar_networks.et_social_hidden_sidebar .et_social_totalcount { margin-left: -75px!important; width: 100%; }
.et_monarch .et_social_space li { margin: 10px auto; }
.et_monarch .et_social_sidebar_networks a { padding: 0; }
.et_monarch .et_social_icon, .et_monarch .et_social_icon:before, .et_monarch .et_social_icon:after { font-size: 26px; line-height: 1.25; }
.et_monarch .et_social_sidebar_networks .et_social_totalcount_label { font-size: 18px; margin-bottom: 20px; text-transform: lowercase; }
.et_monarch span.et_social_hide_sidebar {display: none;}
