/*---------------------------------------------------------------------------------

 Theme Name:   BuildSoftware
 Theme URI:    
 Description:  
 Author:       
 Author URI:   
 Template:     Divi
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html

------------------------------ ADDITIONAL CSS HERE ------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;800&display=swap');
/* Remove header line */
#main-header {
    box-shadow: none !important;
}

/* Custom page width */

/* Default Styles for any screen */
body {
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
}
.has-border {
    border: 4px solid #ddd!important;
}
.type-post h2 {
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    border: 0;
    padding: 0;
    line-height: 1.4;
    color: #000;
    margin-bottom: 1rem;
}
/* .type-post h3 {
    font-weight: normal;
} */
.whiteline h1, .whiteline h2 {
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    font-weight: 200;
    line-height: 1.25;
    padding-bottom: 35px;
    font-size: 46px;
}
.whiteline h1 strong, .whiteline h2 strong {
    font-weight: 800;
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin-bottom: 14px;
}
.et_pb_text_inner p {
    padding-bottom: 1rem;
    line-height: 2;
    font-weight: 400;
}


/* Blog Index */
.blog-template h2 {
    text-align: left;
    font-size: 38px;
    margin-bottom: 25px;
    margin-top: 0;
    font-weight: 700;
}
.blog-template h2 a:hover {
    color: #2ea3f2;
}
.blog-template .container {
    padding-top: 20px;
    padding-bottom: 90px;
    max-width: 850px;
}
.blog-template .container article {
    padding: 0 60px;
}

#page-subheader input[type="submit"],
.blog-template a.button-more {
    width: 100%;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-style: normal;
    white-space: normal;
    letter-spacing: 0;
    cursor: pointer;
    text-transform: normal;
    font-weight: 600;
    min-height: 3.7875rem;
    color: #fff;
    background-color: #2ea3f2;
    border-color: #2ea3f2;
    vertical-align: middle;
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    padding: 1.05rem 1.2rem;
    font-size: 1.125rem;
    line-height: 1.4;
    border-radius: 6px;
    transition: all .2s ease-in-out;
    margin-top: 2rem;
}
.blog-template a.button-more:hover {
    background-color: #2077b1;
    border-color: #2077b1;
}

.type-post .et_pb_pagebuilder_layout.single-post:not(.et-tb-has-body) #main-content .et_pb_row {
    width: 100%;
}

.type-post .container,
.type-post .et_pb_row,
.type-post .et_pb_slider .et_pb_container, .type-post .et_pb_fullwidth_section .et_pb_title_container,
.type-post .et_pb_fullwidth_section .et_pb_title_featured_container,
.type-post .et_pb_fullwidth_header:not(.et_pb_fullscreen) .et_pb_fullwidth_header_container,
.type-post .et_post_meta_wrapper {
    max-width: 850px;
}

@media (min-width: 768px) {
.type-post .container,
.type-post .et_pb_row, .type-post .et_pb_slider .et_pb_container,
.type-post .et_pb_fullwidth_section  .et_pb_title_container,
.type-post .et_pb_fullwidth_section .et_pb_title_featured_container,
.type-post .et_pb_fullwidth_header:not(.et_pb_fullscreen) .et_pb_fullwidth_header_container, 
.type-post .et_post_meta_wrapper {
    max-width: 728px;
}
.type-post .fullwidth .et_pb_row {
    max-width: 850px;
}
}

/* Page Sub-Header Styles */
#page-subheader .block-inner {
    padding: 90px 0 135px;
    background-image: linear-gradient(180deg,#fff 10%,#eef0f7);
    background-repeat: repeat-x;
}
#page-subheader .header-container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
}
#page-subheader h1 {
    font-size: 48px;
    margin-bottom: 40px;
    font-weight: 800;
    line-height: 1.4;
    color: #000;
}
#page-subheader .block-inner-desc {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 1.125rem;
}
#page-subheader figure {
    margin-right: 30px;
    width: 75px;
    min-width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #d6d6d6;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
}
#page-subheader figure:first-child {
    margin-right: 10px;
}

#page-subheader .block-inner-desc p {
    text-align: left;
    line-height: 1.6;
    max-width: 330px;
    padding: 0;
    margin: 0;
}

#page-subheader .sub-form {
    width: 100%;
    margin: 45px 0 0;
    max-width: 460px;
    position: relative;
}
#page-subheader #drip-email {
    display: block;
    width: 100%;
    height: 3.7875rem;
    padding: 1.05rem 1.2rem;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.4;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    border-color: #ccd3e8;
}
#page-subheader input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 170px;
    color: #fff;
    background-color: #2ea3f2;
    border-color: #2ea3f2;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-style: normal;
    white-space: normal;
    letter-spacing: 0;
    cursor: pointer;
    text-transform: normal;
    font-weight: 600;
    min-height: 3.7875rem;
    width: 170px;
    margin-top: 0;
}

.single .et_pb_post {
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Lists */
.et_pb_text ul {
    /* list-style-type: disc; */
    /* padding: 0 0 23px 1em; */
    /* line-height: 26px; */
    padding-left: calc(1.4em + .7vw) !important;
}
.et_pb_text ul li {
    margin-bottom: 1.45em;
}

/* Comments */
.et_post_meta_wrapper {
    background-color: #fbfbfb;
    max-width: none !important;
    padding-bottom: 50px;
    width: auto !important;
}
#comment-wrap {
    max-width: 850px;
    margin: auto;
    padding-top: 0;
    width: 80%;
}
#comment-wrap .page_title {
    border-bottom: 1px solid #ebebeb;
    padding: 35px 0;
}
.commentlist {
    margin-top: 35px;
}
.commentlist > .comment {
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
}
.commentlist .children {
    margin-left: 0;
}
.commentlist .children .comment {
    border-left: 2px solid #bde0e6;
    padding-left: 20px;
}
.comment-body {
    margin-bottom: 30px;
    padding: 0 0 40px 0;
}
.depth-3 .comment-body {
    padding-bottom: 0;
}
.comment_avatar {
    top: 0;
}
.comment_avatar img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.comment_postinfo {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 1rem;
    padding: 10px 0 10px 60px;
}
.comment_postinfo .fn {
    font-size: 14px;
    font-weight: 800;
}
.comment-content {
    font-size: 14px;
    font-weight: 400;
}
#comment-wrap .comment_area .comment-reply-link {
    background-color: transparent !important;
    border: 0;
    color: #878787 !important;
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0 !important;
    text-transform: uppercase;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
}
#comment-wrap .comment_area .comment-reply-link:hover,
#comment-wrap .comment_area .comment-reply-link:focus {
    color: #bb4a03 !important;
}
@media (min-width: 768px) {
    #comment-wrap .page_title {
        padding: 40px 0;
    }
}

#respond {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 45px;
    margin-top: 35px;
}
.comment #respond {
    margin: -10px 0 20px;
}

#commentform {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

#commentform .comment-reply-title {
    margin-bottom: 25px;
    padding-bottom: 0;
}

#commentform p.comment-notes {
    font-size: 16px;
    margin-bottom: 35px;
}

#commentform p {
    margin-bottom: 1.8rem;
    position: relative;
    width: 100%;
    padding: 0 10px;
    flex: 0 0 100%;
    max-width: 100%;
}

#commentform p.comment-form-author,
#commentform p.comment-form-email {
    flex: 0 0 50%;
    max-width: 50%;
}

#commentform textarea,
#commentform input[type="text"],
#commentform input[type="email"] {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    color: #000;
    font-size: 1.125rem;
    line-height: 1.4;
    padding: 1.35rem 1.25rem;
    width: 100%;
}

#commentform textarea::-webkit-input-placeholder,
#commentform input[type="text"]::-webkit-input-placeholder,
#commentform input[type="email"]::-webkit-input-placeholder {
    color: #a5a5a5;
    opacity: 1;
}

#commentform textarea::-ms-input-placeholder,
#commentform input[type="text"]::-ms-input-placeholder,
#commentform input[type="email"]::-ms-input-placeholder {
    color: #a5a5a5;
    opacity: 1;
}

#commentform textarea::placeholder,
#commentform input[type="text"]::placeholder,
#commentform input[type="email"]::placeholder {
    color: #a5a5a5;
    opacity: 1;
}

.form-submit .et_pb_button {
    background-color: #00d07e;
    border-color: #00d07e;
    padding: 15px !important;
    width: 100%;
}
.form-submit .et_pb_button:hover,
.form-submit .et_pb_button:focus {
    background-color: #00aa67 !important;
    border-color: #009d5f !important;
}

/* Styles for different screen widths */
/*
@media (min-width: 576px) {
.whiteline h1, .whiteline h2 {
    font-size: 41px;
}
.type-post h2 {
    font-size: 31px;
}
.type-post .container, .type-post .et_pb_row, .type-post .et_pb_slider .et_pb_container, .type-post .et_pb_fullwidth_section  .et_pb_title_container, .type-post .et_pb_fullwidth_section .et_pb_title_featured_container, .type-post .et_pb_fullwidth_header:not(.et_pb_fullscreen) .et_pb_fullwidth_header_container, .type-post .et_post_meta_wrapper  {
    max-width: 540px;
}
}

@media (min-width: 768px) {
.whiteline h1, .whiteline h2 {
    font-size: 46px;
}
type-post h2 {
    font-size: 36px;
}

.type-post .container,
.type-post .et_pb_row, .type-post .et_pb_slider .et_pb_container, .type-post .et_pb_fullwidth_section  .et_pb_title_container, .type-post .et_pb_fullwidth_section .et_pb_title_featured_container, .type-post .et_pb_fullwidth_header:not(.et_pb_fullscreen) .et_pb_fullwidth_header_container, .type-post .et_post_meta_wrapper  {
    max-width: 728px;
}
*/
    
/* Comments form */
/*
.comment-respond {
    padding: 45px;
    margin-top: 50px;
}

}*/
/*
@media (min-width: 992px) {
.whiteline h1, .whiteline h2 {
    font-size: 46px;
}
.type-post h2 {
    font-size: 34px;
}
.type-post .et_pb_with_background:not(.et_pb_with_border) .container, .type-post .et_pb_with_background:not(.et_pb_with_border) .et_pb_row, .type-post .et_pb_slider .et_pb_with_background:not(.et_pb_with_border) .et_pb_container, .type-post .et_pb_fullwidth_section  .et_pb_title_container, .type-post .et_pb_fullwidth_section .et_pb_title_featured_container, .type-post .et_pb_fullwidth_header:not(.et_pb_fullscreen) .et_pb_fullwidth_header_container, .type-post .et_post_meta_wrapper  {
    max-width: 850px;
}
}

@media (min-width: 1200px) {
.type-post .container, .type-post .et_pb_row, .type-post .et_pb_slider .et_pb_container, .type-post .et_pb_fullwidth_section  .et_pb_title_container, .type-post .et_pb_fullwidth_section .et_pb_title_featured_container, .type-post .et_pb_fullwidth_header:not(.et_pb_fullscreen) .et_pb_fullwidth_header_container, .type-post .et_post_meta_wrapper {
    max-width: 1140px;
}
}

 */
